*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 400vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(water.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top:50px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 50px;
}

.information-box{
    width: 90%;
    color: #fff;
    position: relative;
    top:250px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.information-box h1{
    font-size: 20px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #9d7e7e;
    background: #9d7e7e;
    transition: 1.5s;
}